* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin: 1rem 0;
  border-radius: 10px;
  overflow: hidden;
  /* border: 1px solid red; */

  background-color: rgba(207, 225, 240, 0.5);
}
.expression-side-container {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
}
.element-main-container {
  /* border: 1px solid blue; */
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;

}

.add-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 5px;
}
.add-btn-wrapper button,
.add-icon {
  background-color: transparent;
  border: none;
  color: rgb(4, 156, 244);
  font-weight: 600;
}
.output-node-btn-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;

}
.output-node-btn{
  background-color: rgb(3, 94, 220);
  border-radius: 1rem;
  padding: .5rem 1rem;
  color: white;
}